@font-face {
	font-family: Muller;
	src: url(../fonts/Muller.otf);
}

@font-face {
	font-family: ProximaNovaCondensed;
	src: url(../fonts/ProximaNovaCondensed.otf);
}

* {
	padding: 0;
	margin: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	/*width: 1440px;*/
	font-size: 18px;
}

.text-center {
	text-align: center;
}

/* Шапка */
header {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
				url(../img/background.jpg) no-repeat;
	background-size: cover;
	height: 730px;
}

.list, .sign {
	font-size: 10px;
	margin-top: 68px;
}

.insta .logo {
	margin-top: 48px
}

.insta div {
	text-align: center;
}

.insta a, .bestka, h1, .social {
	color: #fff;
	text-transform: uppercase;
	font-family: Muller;
}

.bestka {
	display: block;
	font-size: 24px;
}

h1, .social {
	font-size: 32px;
	text-align: center;
	line-height: normal;
	margin: 150px 0 0 0;
}

/* Слайдер */
.slider {
	text-align: center;
	display: inline-block;
	margin-top: 50px;
}

.slider-2 {
	text-align: center;
	display: inline-block;
}

.slider div {
	padding: 0;
	outline: none;
}

.slider img {
	display: block;
	margin: 0 auto;
}

.slider span {
	font-family: ProximaNovaCondensed;
	font-size: 18px;
	line-height: normal;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
}

.prev, .next {
	width: 30px;
	height: 60px;
	margin-top: 70px;
}

/* Основное */
main {
	background: linear-gradient(0deg, rgba(216, 220, 255, 0.9), rgba(216, 220, 255, 0.9)),
				 url(../img/main-bg.jpg);
}

h2 {
	text-transform: uppercase;
	font-family: ProximaNovaCondensed;
	font-size: 48px;
	line-height: normal;
	padding: 30px 0;
	text-align: center;
	color: #3F3F3F;
}

.tabs-nav a {
	display: inline-block;
	width: 115px;
	height: 115px;
	text-align: center;
}

.tabs-nav a.active {
	background: #BDC4FF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

#tabs span {
	font-family: ProximaNovaCondensed;
	font-size: 18px;
	line-height: normal;
	display: block;
	margin-top: 10px;
	color: #747474;
	letter-spacing: -0.05em;
	text-transform: uppercase;
}

#tabs a.active span {
	color: #3F3F3F;
}

.tabs-nav div {
	display: inline-block;
	text-align: center;
}

#tabs img {
	width: 64px;
	height: 64px;
	display: block;
	margin: 10px auto 0 auto;
}

.tabs-items {
	margin-top: 43px;
}

.desc {
	height: 250px;
	padding: 10px 0;
	background: #BDC4FF;
	overflow: auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tabs-items p {
	font-family: ProximaNovaCondensed;
	font-size: 18px;
	height: 180px;
	line-height: normal;
	padding: 0 10px;
	vertical-align: top;
	width: 450px;
	display: inline-block;
	color: #3F3F3F;
}

.tabs-items p:nth-child(1) {
	font-size: 28px;
}

.tabs-items p:nth-child(3) {
	border: none;
}

.logo {
	text-align: center;
}

.logo-2 {
	margin-top: 50px;
}

.logo-2 span {
	color: #000;
}

.logo-2 img {
	height: 40px;
	width: 40px;
}

.logo img {
	display: inline-block;
	text-align: center;
}

.year {
	font-family: Muller;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
	color: #000;
	padding: 15px 0 10px 0;
}

/* Страница входа и регистрации */
.header-sign {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
				url(../img/background.jpg) no-repeat;
	background-size: cover;
}

.transparent {
	background: rgba(255,255,255,0.3);
	margin-top: 50px;
	padding: 30px 30px 30px 30px;
}

input, .btn {
    background: transparent;
    margin-top: 20px;
    border: 5px solid #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
                0 4px 4px rgba(0, 0, 0, 0.25) inset;
    color: #fff;
    height: 50px;
    font-family: Muller;
    outline: none;
    font-size: 13px;
}

input::placeholder {
	color: #fff;
}

.aaa {
	border: none;
	box-shadow: none;
}

.sign-btn {
	transition: 0.5s;
}

.sign-btn:hover {
	background: #fff;
	color: #000;
}

form a {
	display: block;
}

.button {
    color: #fff;
    height: 55px;
    line-height: 50px;
    font-family: Muller;
	font-weight: 800;
	font-size: 18px;
}

.buttons-nav {
	margin-bottom: 20px;
}

#buttons a.active div {
    border: 5px solid #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
                0 4px 4px rgba(0, 0, 0, 0.25) inset;
}

/* Медиа-запросы */
@media(min-width: 576px) {
    h1, .social {
        font-size: 42px;
    }
    
    .list, .sign {
        font-size: 18px;
    }
    
    .slider span {
        font-size: 24px;
    }
    
    #tabs img {
	    width: 109px;
	    height: 109px;
	    margin: 15px auto 0 auto;
	}
	
	.tabs-nav a {
	    width: 195px;
	    height: 195px;
	}
	
	#tabs span {
	    font-size: 29px;
	    margin-top: 17px;
	}
	
	.desc {
	    height: 250px;
	    padding: 35px 0;
	}
	
	.tabs-items p {
	    font-size: 22px;
	}
	
	input, button {
		font-size: 14px;
    }
    
@media(min-width: 768px) {
	h1, .social {
		font-size: 72px;
	}
	
	.tabs-items p {
	    border-right: 1px solid #3F3F3F;
	}
	
	.button {
		font-size: 24px;
	}
	
	input, button {
		font-size: 16px;
    }
}

@media(min-width: 992px) {
	.tabs-items p {
	    padding: 0 35px;
	}
}

@media(min-width: 1200px) {
	input, button {
		font-size: 22px;
    }
}
    